@model Prueba_Nomina.Entities.Pensionado

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Desea borrar este registro?</h3>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Borrar" class="btn btn-danger" /> |
    <a asp-action="Index">Cancelar</a>
</form>
<div>
    <h4>Pensionado</h4>
    <hr />
    <div class="row">
        <div class="col-3">
            <div class="col mb-5">
                <label><strong>STATUS DE PAGO <span id="date">12/2022</span></strong></label>
                <div>
                    No pagado
                </div>

            </div>

            <div>
                <img class="img-thumbnail" src="https://img.freepik.com/foto-gratis/hombre-serio-afeitar-apariencia-agradable-cabello-oscuro-cerdas-contempla-algo-importante-vestido-ropa-fashioable-aislado-sobre-pared-blanca-hombre-europeo-interior_273609-16093.jpg?w=996&t=st=1671416498~exp=1671417098~hmac=76b73468b7d3432ded116e6d9a55be39645cd31c3265a2bc360f2f1fe790b585" />
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col bg-white rounded">
                            <div class="col pb-3">
                                <label for="tipo">No. Activo</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.No_activo)
                                </div>
                            </div>
                        </div>

                        <div class="col bg-white rounded">
                            <div class="col">
                                <label>Cobro indebido</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.Cobro_indebido) Convenio
                                </div>
                            </div>
                        </div>

                        <div class="col bg-white rounded">
                            <div class="col pb-3">
                                <label for="tipo">Clave pensión</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.Clave_pension)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col bg-white rounded">
                            <div class="col pb-3">
                                <label for="tipo">No. Afiliado</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.No_afiliado)
                                </div>
                            </div>
                        </div>

                        <div class="col bg-white rounded">
                            <div class="col">
                                <label>No. Pensión</label>
                                @Html.DisplayNameFor(model => model.No_pension)
                            </div>
                        </div>

                        <div class="col bg-white rounded">
                            <label>Sexo</label>
                            <div class="form-group">
                                <div class="col">
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.Sexo, 0)
                                        <label class="form-check-label" for="sexo_m">
                                            Masculino
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        @Html.RadioButtonFor(model => model.Sexo, 1)
                                        <label class="form-check-label" for="sexo_f">
                                            Femenino
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col bg-white rounded">
                            <div class="col pb-3">
                                <label for="tipo">Apellido Paterno</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.ApellidoP)
                                </div>
                            </div>
                        </div>

                        <div class="col bg-white rounded">
                            <label>Apellido Materno</label>
                            <div class="col">
                                @Html.DisplayFor(model => model.ApellidoM)
                            </div>
                        </div>

                        <div class="col bg-white rounded">
                            <div class="col">
                                <label>Nombre</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.Nombre)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col bg-white rounded">
                            <div class="col pb-3">
                                <label for="tipo">Fecha de Nacimiento</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.Fecha_nacimiento)
                                </div>
                            </div>
                        </div>

                        <div class="col bg-white rounded">
                            <div class="col">
                                <label>RFC</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.RFC)
                                </div>
                            </div>
                        </div>

                        <div class="col bg-white rounded">
                            <div class="col">
                                <label>CURP</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.CURP)
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Estado civil, tipo pension-->
                    <div class="row">
                        <div class="col bg-white rounded">
                            <div class="col pb-3">
                                <label for="tipo">Estado civil</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.estado_Civil.Estado)
                                </div>
                            </div>
                        </div>

                        <div class="col bg-white rounded">
                            <div class="col pb-3">
                                <label for="tipo">Tipo de pensión</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.tipo_Pension.Tipo)
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Email-->
                    <div class="row">
                        <div class="col-6 bg-white rounded">
                            <div class="col pb-3">
                                <label for="tipo">Email</label>
                                <div class="col">
                                    @Html.DisplayFor(model => model.Email)
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Status_pago" /> @Html.DisplayNameFor(model => model.Status_pago)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Sexo" /> @Html.DisplayNameFor(model => model.Sexo)
                        </label>
                    </div>
                </div>
            </div>

        </div>
</div>
